$void: #0e0b16;
$purple: #a239ca;
$neon-purple: #4717f6;
$stark: #e7dfdd;
$gray: rgb(230, 230, 230);
$navbar-height: 40px;

/*LOGIN*/
.login-layout-grid{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 33vh 33vh 33vh;
}

.login-inner-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  background: $neon-purple;
  border-radius: 5px;
  color: white;
  grid-row-gap: 5px;
}
.login-header {
  background: $void;
  font-size: 28px;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.login-row {
  padding: 10px;
}
.login-input{
  font-size: 20px;
}
.login-btn{
  font-size: 28px;
  width: 100%;
}

.main-layout {
  display: grid;
  grid-template-rows: $navbar-height 1fr 1fr;
  background: $stark;
}

.dash-graph-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-column-gap: 10px;
}
.graph-layout {
  display: grid;
  grid-template-rows: 40px 1fr;
}

// .dash-fav-layout